@tailwind base;
@tailwind components;
@tailwind utilities;
/* C77500 */
body{
    /* background-color: #222222; */
    background: url('/back3.png') no-repeat center center fixed; 
    background-size: cover;
    margin: auto;
    color: white;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}