@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #141414;
  background-size: cover;
  margin: auto;
  color: white;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
